@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.collection {
	@include page-layout;
	@include section-margin;
	@include flex-col($spacing-40);

	&__overview-wrapper {
		@include flex-col($spacing-24);

		@include tablet {
			@include flex-row($spacing-24);
		}
	}

	&__stats {
		flex-basis: 25%;
	}

	&__currently-playing {
		flex-basis: 75%;
	}

	&__content-wrapper {
		@include flex-col($spacing-40);

		@include desktop {
			@include flex-row($spacing-24);
		}
	}
}

.stats {
	padding: $spacing-16;

	border: $bw-1 solid rgba($primary-brand-50, 0.2);
	border-radius: $br-16;
	@include flex-col($spacing-16);

	&__header {
		@include flex-row($spacing-8);
		align-items: center;
	}

	&__cards {
		@include flex-col($spacing-8);
	}

	&__card {
		@include flex-row($spacing-16);
		justify-content: space-between;
	}
}

.currently-playing {
	padding: $spacing-16;
	border: $bw-1 solid rgba($primary-brand-50, 0.2);
	border-radius: $br-16;
	@include flex-col($spacing-16);

	&__message {
		color: $text-light-300;
	}

	&__covers {
		@include flex-row($spacing-16);
		flex-wrap: wrap;
		align-items: flex-start;
	}

	&__cover {
		width: 100%;
		max-width: 80px;
		aspect-ratio: 3 / 4;
		border-radius: $br-8;

		@include tablet {
			width: 100%;
			max-width: 140px;
			border-radius: $br-16;
		}
	}
}

.filters {
	@include flex-col($spacing-16);

	@include desktop {
		flex-basis: 25%;
	}
}

.filter {
	@include flex-col($spacing-8);

	&__title {
		font-weight: 500;
	}

	&__options {
		@include flex-col($spacing-8);

		&--checklist {
			list-style: none;
		}
	}

	&__option {
		position: relative;
		@include flex-row;
		align-items: center;

		& > * {
			cursor: pointer;
		}
	}
}

.collection-games {
	@include flex-col($spacing-40);

	@include desktop {
		flex-basis: 75%;
	}
}

.loading-games {
	flex-grow: 1;
	@include flex-col($spacing-16);
	& {
		align-items: center;
	}

	&__title {
		color: $primary-brand-50;
	}

	&__icon {
		font-size: 80px;
		color: $primary-brand-50;
		position: relative;
		animation: rotateLeftAndRight 2s infinite ease-in-out alternate;
		transform-origin: bottom left;
		left: 2.5rem;
		top: 1.25rem;
	}
}

@keyframes rotateLeftAndRight {
	from {
		transform: rotate(-60deg);
	}
	to {
		transform: rotate(-15deg);
	}
}
