@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.collection {
	@include flex-col($spacing-40);
	@include page-layout;

	@include large-desktop {
		padding: $spacing-64 16vw;
	}

	&__stats {
		padding: $spacing-16;
		border: $bw-1 solid rgba($primary-brand-50, 0.4);
		border-radius: $br-16;
		@include flex-col($spacing-8);
	}

	&__wrapper {
		@include flex-col($spacing-40);

		@include desktop {
			@include flex-row($spacing-24);
		}
	}
}

.stats {
	&__header {
		@include flex-row($spacing-8);
		align-items: center;
	}

	&__cards {
		@include flex-row($spacing-8);
	}

	&__card {
		flex: 1 1 0;
		padding: $spacing-16;
		background-color: rgba($primary-brand-50, 0.1);
		border-radius: $br-8;
		@include flex-col;
		justify-content: space-between;
	}
}

.filters {
	@include flex-col($spacing-16);

	@include desktop {
		flex-basis: 25%;
	}
}

.filter {
	@include flex-col($spacing-8);

	&__title {
		font-weight: 500;
	}

	&__options {
		@include flex-col($spacing-8);

		&--checklist {
			list-style: none;
		}
	}

	&__option {
		position: relative;
		@include flex-row;
		align-items: center;

		& > * {
			cursor: pointer;
		}
	}
}

.collection-games {
	@include flex-col($spacing-40);

	@include desktop {
		flex-basis: 75%;
	}
}

.pagination {
	@include flex-row($spacing-8);
	justify-content: center;
	// font-size: 18px;

	&__link {
		padding: $spacing-8 $spacing-12;
		border-radius: $br-100;
		text-decoration: none;

		&.active {
			text-decoration: none;
			background-color: rgba($accent-callout, 0.2);
			color: $accent-callout;
			font-weight: $fw-semibold;
		}

		&:hover {
			background-color: rgba($accent-callout, 0.2);
			text-decoration: none;
			color: $accent-callout;
		}
	}
}

.loading-games {
	flex-grow: 1;
	@include flex-col($spacing-16);
	align-items: center;

	&__title {
		color: $primary-brand-50;
	}

	&__icon {
		font-size: 80px;
		color: $primary-brand-50;
		position: relative;
		animation: rotateLeftAndRight 2s infinite ease-in-out alternate;
		transform-origin: bottom left;
		left: 2.5rem;
		top: 1.25rem;
	}
}

@keyframes rotateLeftAndRight {
	from {
		transform: rotate(-60deg);
	}
	to {
		transform: rotate(-15deg);
	}
}
