@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.collection {
	@include page-layout;
	@include flex-col($spacing-40);

	@include large-desktop {
		padding: $spacing-64 16vw;
	}

	&__wrapper {
		@include desktop {
			@include flex-row($spacing-24);
		}
	}
}

.filters {
	@include desktop {
		flex-basis: 25%;
	}
}

.filter {
	display: flex;
	flex-direction: column;
	gap: 8px;

	&__title {
		font-weight: 500;
	}

	&__options {
		@include flex-col($spacing-8);

		&--checklist {
			list-style: none;
		}
	}

	&__option {
		position: relative;
		display: flex;

		& > * {
			cursor: pointer;
		}
	}
}

.collection-games {
	@include flex-col($spacing-40);

	@include desktop {
		flex-basis: 75%;
	}
}

.input-checkbox {
	z-index: -1;
	opacity: 0;
	width: 0;
	height: 0;

	&__custom {
		width: 18px;
		height: 18px;
		display: inline-block;
		border: $bw-1 solid $primary-brand-50;
		z-index: 1;
		position: relative;
		top: 0;
		left: 0;
		margin-right: $spacing-8;
		border-radius: $br-4;
		transition: background-color 0.2s, border-color 0.2s;
	}

	&:checked + .input-checkbox__custom {
		&::after {
			content: "";
			width: 12px;
			height: 12px;
			display: inline-block;
			position: absolute;
			top: 2px;
			left: 2px;
			background-color: $accent-callout;
			border-radius: $br-2;
		}
	}
}

.pagination {
	@include flex-row($spacing-8);
	justify-content: center;
	// font-size: 18px;

	&__link {
		padding: $spacing-8 $spacing-12;
		border-radius: $br-100;
		text-decoration: none;

		&.active {
			text-decoration: none;
			background-color: rgba($accent-callout, 0.2);
			color: $accent-callout;
			font-weight: $fw-semibold;
		}

		&:hover {
			background-color: rgba($accent-callout, 0.2);
			text-decoration: none;
			color: $accent-callout;
		}
	}
}
