/* CSS reset & base styles */
@layer base {
  html {
    @apply box-border;
  }

  *,
  *::before,
  *::after {
    @apply box-border m-0 p-0;
  }

  body {
    @apply font-body text-base font-normal antialiased
    text-grey-50 bg-secondary-900
    min-h-screen
    scroll-smooth;
    text-rendering: optimizeSpeed;
  }

  #root {
    @apply flex flex-col min-h-screen;
  }

  main {
    @apply grow;
  }

  img {
    @apply max-w-full block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* Typography */
  h1, h2, h3, h4, h5, h6 {
    @apply text-grey-50 font-heading font-normal;
  }

  h1 {
    @apply text-4xl lg:text-5xl;
  }

  h2 {
    @apply text-3xl lg:text-4xl font-medium;
  }

  h3 {
    @apply text-2xl lg:text-3xl font-medium;
  }

  h4 {
    @apply text-xl lg:text-2xl font-medium;
  }

  h5 {
    @apply text-xl font-medium;
  }

  h6 {
    @apply text-lg font-medium;
  }

  p {

  }


  a {
    @apply no-underline font-semibold rounded-sm
    focus-visible:outline-1 focus-visible:outline-offset-2 focus-visible:outline-interactive-primary;
  }

  /* Lists */
  ul, ol {
    list-style: none;
    /*padding-left: var(--spacing-6);*/
    /*margin-bottom: var(--spacing-4);*/
  }

  li {
    /*margin-bottom: var(--spacing-2);*/
  }

  /* Buttons */
  button {
    @apply cursor-pointer rounded-sm font-semibold
    focus-visible:outline-1 focus-visible:outline-offset-2 focus-visible:outline-interactive-primary;
  }

  /* Inputs */
  input[type="text"], input[type="password"], input[type="email"], input[type="search"] {
    @apply px-4 py-2 rounded-full
    text-secondary-900
    bg-grey-100
    border-2 border-primary-300
    focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-interactive-primary;
  }

  input[type="search"]::-webkit-search-cancel-button {
    @apply appearance-none h-5 w-5 cursor-pointer bg-grey-600;

    -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0yMDguNDksMTkxLjUxYTEyLDEyLDAsMCwxLTE3LDE3TDEyOCwxNDUsNjQuNDksMjA4LjQ5YTEyLDEyLDAsMCwxLTE3LTE3TDExMSwxMjgsNDcuNTEsNjQuNDlhMTIsMTIsMCwwLDEsMTctMTdMMTI4LDExMWw2My41MS02My41MmExMiwxMiwwLDAsMSwxNywxN0wxNDUsMTI4WiI+PC9wYXRoPjwvc3ZnPg==");
    mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0yMDguNDksMTkxLjUxYTEyLDEyLDAsMCwxLTE3LDE3TDEyOCwxNDUsNjQuNDksMjA4LjQ5YTEyLDEyLDAsMCwxLTE3LTE3TDExMSwxMjgsNDcuNTEsNjQuNDlhMTIsMTIsMCwwLDEsMTctMTdMMTI4LDExMWw2My41MS02My41MmExMiwxMiwwLDAsMSwxNywxN0wxNDUsMTI4WiI+PC9wYXRoPjwvc3ZnPg==");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
  }

  /* Remove animations for people who've turned them off */
  @media (prefers-reduced-motion: reduce) {
    * {
      @apply animate-none transition-none scroll-auto;
    }
  }
}