/* CSS reset & base styles */
@import './variables.css';

html {
  @apply box-border;
}

*,
*::before,
*::after {
  @apply box-border m-0 p-0;
}

body {
  @apply font-body text-base font-normal antialiased
  text-light bg-secondary-900
  min-h-screen
  scroll-smooth;
  text-rendering: optimizeSpeed;
}

img {
  @apply max-w-full block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  @apply text-light font-heading font-normal;
}

h1 {
  @apply text-3xl md:text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

h5 {
  @apply text-xl;
}

h6 {
  @apply text-lg;
}

p {

}

a {
  @apply text-interactive-primary hover:text-interactive-primary-hover no-underline
  font-semibold
  transition-colors ease-in duration-150;
}

/* Lists */
ul, ol {
  list-style: none;
  /*padding-left: var(--spacing-6);*/
  /*margin-bottom: var(--spacing-4);*/
}

li {
  /*margin-bottom: var(--spacing-2);*/
}

/* Buttons */
button {
  @apply cursor-pointer
  inline-block px-4 py-2 rounded-full
  text-secondary-900 font-semibold
  bg-interactive-primary hover:bg-interactive-primary-hover
  border-none
  transition-colors ease-in duration-150
  focus:outline-2 focus:outline-interactive-primary focus:outline-offset-2
}

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  * {
    @apply animate-none transition-none scroll-auto;
  }
}