@layer components {
  .button {
    @apply flex items-center justify-center gap-2 md:gap-3
    text-lg text-secondary-900 font-bold
    px-3 md:px-4 py-2
    rounded-full
    focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-interactive-primary;

    &.primary {
      @apply bg-interactive-primary hover:bg-interactive-primary-hover;
    }

    &.secondary {
      @apply bg-interactive-secondary hover:bg-interactive-secondary-hover text-grey-50;
    }

    &.ghost {
      @apply text-grey-50
      border border-interactive-primary hover:border-interactive-primary-hover
      bg-transparent hover:bg-interactive-primary-hover/10;

      &.muted {
        @apply border-accent-500/30;
      }
    }

    &.neutral {
      @apply bg-interactive-neutral hover:bg-interactive-neutral-hover;
    }

    &.danger {
      @apply text-danger-900
      bg-danger-500 hover:bg-danger-600
      focus-visible:outline-danger-500;
    }

    &.success {
      @apply text-success-900
      bg-success-500 hover:bg-success-600
      focus-visible:outline-success-500;
    }

    &.disabled {
      @apply opacity-50 pointer-events-none;
    }
  }

  .checkbox-input {
    @apply shrink-0 flex items-center justify-center
    size-5 mt-0.5 rounded-md cursor-pointer
    ring-1 ring-grey-50/50 ring-inset
    focus:not-data-focus:outline-none
    data-checked:bg-primary-500
    data-focus:outline data-focus:outline-offset-2 data-focus:outline-interactive-primary;

    & > svg {
      @apply fill-grey-50;
    }

  }

  .checkbox-label {
    @apply cursor-pointer;
  }

  .dropdown-options {
    @apply p-2 mt-2 rounded-2xl
    origin-top transition duration-200 ease-out data-closed:scale-95 data-closed:opacity-0;

    &.primary {
      @apply text-secondary-900 bg-grey-50 focus-visible:outline-accent-700;
    }
  }

  .dropdown-option {
    @apply p-2 rounded-lg cursor-pointer
    data-focus:bg-grey-100
    data-selected:font-semibold data-selected:bg-grey-200;

    &.primary {
      @apply data-selected:bg-purple-100;
    }
  }
}