@layer utilities {
  .container {
    margin-inline: auto;
    padding-inline: 2rem;
  }

  button {
    &.secondary {
    }

    &.ghost {
      @apply text-grey-50
      border border-solid border-interactive-primary hover:border-interactive-primary-hover
      bg-transparent hover:bg-interactive-primary-hover/10
    }
  }

  /* Embla Carousel */
  .embla {
    overflow: hidden;
  }

  .embla__container {
    display: flex;
    gap: 1rem;
  }

  .embla__slide {
    flex: 0 0 calc(50% - (1rem / 2));
    min-width: 0;
  }


  /* Icon Sizes widths */
  .icon-sm {
    @apply w-5 h-5;
  }

  .icon-md {
    @apply w-6 h-6;
  }

  .icon-lg {
    @apply w-8 h-8;
  }

  .icon-xl {
    @apply w-10 h-10;
  }
}