@theme {
  /* Color palette */
  /*--color-primary-50: #BFAFBE;*/
  --color-primary-50: #F1E6EF;
  --color-primary-100: #F5B9EB;
  --color-primary-100-rgb: 245, 185, 235;
  --color-primary-300: #91007A;
  --color-primary-500: #730962;
  --color-primary-700: #3D0233;
  --color-primary-900: #2E0026;
  --color-secondary-900: #110D27;
  --color-accent-300: #5DD5DA;
  --color-accent-500: #20C1C7;
  --color-success: #8BC106;
  --color-danger-50: #FDD9E6;
  --color-danger-500: #FD5B76;
  --color-danger-900: #581033;
  --color-warning: #FFC107; /*todo update*/
  --color-info-300: var(--color-accent-300);
  --color-info-500: var(--color-accent-500);

  /* Neutral colors */
  /*todo update*/
  --color-light: #EAE9ED;
  --color-light-rgb: 234, 233, 237;
  --color-neutral-100: #F8F9FA;
  --color-neutral-200: #E9ECEF;
  --color-neutral-300: #DEE2E6;
  --color-neutral-400: #CED4DA;
  --color-neutral-500: #ADB5BD;
  --color-neutral-600: #6C757D;
  --color-neutral-700: #495057;
  --color-neutral-800: #343A40;
  --color-neutral-900: #212529;

  /* Semantic Colors */
  --color-interactive-primary: var(--color-accent-300);
  --color-interactive-primary-hover: var(--color-accent-500);
  --color-interactive-secondary: var(--color-primary-500);
  --color-interactive-secondary-hover: var(--color-primary-700);

  /* Typography */
  --font-heading: 'Exo 2', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-body: 'Mulish', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* Icon Sizes widths */
  --icon-sm: 18px;
  --icon-md: 24px;
  --icon-lg: 32px;
  --icon-xl: 40px;
}