@theme {
  /* Color Tokens */
  /*--color-purple-50: #BFAFBE;*/
  --color-*: initial;
  --color-purple-50: #F1E6EF;
  --color-purple-100: #DFBDDA;
  /*--color-purple-300: #96067E;*/
  --color-purple-300: #91007A;
  --color-purple-500: #730962;
  --color-purple-600: #690859;
  --color-purple-700: #3D0233;
  --color-purple-900: #2E0026;

  --color-blue-100: #B5B4BC;
  --color-blue-500: #1A1344;
  --color-blue-900: #110D27;

  --color-teal-300: #5DD5DA;
  --color-teal-500: #20C1C7;
  --color-teal-700: #2B8C90;
  --color-teal-900: #0D5154;

  --color-green-500: #8BC106;

  --color-red-50: #FDD9E6;
  --color-red-500: #FD5B76;
  --color-red-900: #581033;

  --color-yellow-500: #FFC107;

  /* Neutral colors */
  --color-grey-50: #EAE9ED;
  --color-grey-100: #DAD7DE;
  --color-grey-200: #E9ECEF;
  --color-grey-300: #DEE2E6;
  --color-grey-400: #CED4DA;
  --color-grey-500: #ADB5BD;
  --color-grey-600: #6C757D;
  --color-grey-700: #495057;
  --color-grey-800: #343A40;
  --color-grey-900: #212529;


  /* Semantic Colors */
  --color-primary-50: var(--color-purple-50);
  --color-primary-100: var(--color-purple-100);
  --color-primary-300: var(--color-purple-300);
  --color-primary-500: var(--color-purple-500);
  --color-primary-600: var(--color-purple-600);
  --color-primary-700: var(--color-purple-700);
  --color-primary-900: var(--color-purple-900);

  --color-secondary-100: var(--color-blue-100);
  --color-secondary-900: var(--color-blue-900);

  --color-accent-300: var(--color-teal-300);
  --color-accent-500: var(--color-teal-500);
  --color-accent-700: var(--color-teal-700);
  --color-accent-900: var(--color-teal-900);

  --color-success: var(--color-green-500);
  --color-danger-50: var(--color-red-50);
  --color-danger-500: var(--color-red-500);
  --color-danger-900: var(--color-red-900);
  --color-error-50: var(--color-red-50);
  --color-error-500: var(--color-red-500);
  --color-error-900: var(--color-red-900);
  --color-required: var(--color-red-500);
  --color-warning: var(--color-yellow-500);
  --color-info-300: var(--color-teal-300);
  --color-info-500: var(--color-teal-500);
  --color-info-900: var(--color-teal-900);

  /* Interactive Colors */
  --color-interactive-primary: var(--color-accent-300);
  --color-interactive-primary-hover: var(--color-accent-500);
  --color-interactive-secondary: var(--color-primary-500);
  --color-interactive-secondary-hover: var(--color-primary-600);

  /* Typography */
  --font-heading: 'Exo 2', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-body: 'Mulish', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* Containers */
  --container-sm: 40rem; /* 640px */
  --container-md: 48rem; /* 768px */
  --container-lg: 64rem; /* 1024px */
  --container-xl: 80rem; /* 1280px */
}