.imageContainer {
  background: url("../../assets/images/sign-up-bg-v2.jpg") no-repeat right;
  background-size: cover;
}

.link {
  color: var(--text-link-secondary);


  &:hover {
    color: var(--text-link-secondary-hover);
  }
}