@import '../../styles/variables.css';

.container {
  max-width: var(--container-xl);
  margin: 0 auto;
  padding: var(--spacing-4);

  @media screen and (min-width: 768px) {
    padding: var(--spacing-4) var(--spacing-8);
  }
}

.logo {
  max-width: 16rem;
}

.navLink {
  position: relative;
  text-decoration: none;
  color: var(--text-link-secondary);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  transition: color var(--transition-fast) ease;
}

.navLink:hover {
  color: var(--text-link-secondary-hover);
}

.navLinkActive {
  color: var(--text-link-secondary-active);
}

.navLinkActiveIcon {
  color: var(--text-link-secondary-hover);
  position: absolute;
  bottom: -1rem;
}

.avatar {
  max-width: 3rem;
  width: 100%;
  aspect-ratio: 1/1;
}