@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.input-checkbox {
	z-index: -1;
	opacity: 0;
	width: 0;
	height: 0;

	&__label {
		@include fs-regular;
	}

	&__custom {
		width: 18px;
		height: 18px;
		display: inline-block;
		border: $bw-1 solid $primary-brand-50;
		z-index: 1;
		position: relative;
		top: 0;
		left: 0;
		margin-right: $spacing-8;
		border-radius: $br-4;
		transition: background-color 0.2s, border-color 0.2s;
	}

	&:checked + .input-checkbox__custom {
		&::after {
			content: "";
			width: 12px;
			height: 12px;
			display: inline-block;
			position: absolute;
			top: 2px;
			left: 2px;
			background-color: $accent-callout;
			border-radius: $br-2;
		}
	}
}
