@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.explore {
	background-color: $primary-brand-700;
	@include flex-col($spacing-16);
	@include page-layout;

	&__content-wrapper {
		padding: $spacing-64 0;
		@include flex-col($spacing-24);
		align-items: center;
	}

	&__search-wrapper {
		width: 100%;

		@include tablet {
			max-width: 80%;
			width: 100%;
		}
	}
}

.browse-platforms {
	@include page-layout;
	@include section-margin;

	&__content-wrapper {
		@include flex-col($spacing-24);
	}

	&__cards {
		@include flex-row($spacing-16);
		flex-wrap: wrap;

		@include tablet {
			flex-wrap: nowrap;
		}
	}

	&__card-link {
		padding: $spacing-24 $spacing-16;
		flex-basis: calc(50% - $spacing-8);
		border-radius: $br-16;
		color: $text-light-50;
		font-weight: $fw-semibold;
		background-color: $primary-brand-500;
		@include fs-large;

		@include flex-row;
		justify-content: center;
		align-items: center;

		@include tablet {
			padding: $spacing-40 $spacing-24;
		}

		&:hover {
			text-decoration: none;
			background: linear-gradient(
				rgba($primary-brand-300, 100%) 0%,
				$primary-brand-500 100%
			);
			box-shadow: 0px 1px 0px 0px rgba($primary-brand-100, 0.4) inset;
		}
	}
}

.browse-new-releases {
	@include page-layout;
	@include section-margin;

	&__content-wrapper {
		@include flex-col($spacing-24);
	}
}

.browse-coming-soon {
	@include page-layout;
	@include section-margin;

	&__content-wrapper {
		@include flex-col($spacing-24);
	}
}
