@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	background-color: $bg-dark;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

input,
textarea,
select,
button {
	font-family: inherit;
	font-size: inherit;
}

body {
	font-family: $ff-body;
	color: $text-light-50;
	@include fs-regular;
}
